.bordered_form {
    border: 2px solid #000;
    background-color: #f5f5dc;
}

.bordered_password {
    border: 2px solid #000;
    background-color: #D3FBFF;
}
.fondo_login {
    background-image: url('http://localhost:8080/kardexalmacen/public/assets/img/fondo_master_pizza.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    /* Otros estilos según tus preferencias */
}


.centrar_todo {
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fila_verde {
    text-decoration: none; 
    background-color: #C8E6C9;  
    color: #000;
}


.fila_roja {
    text-decoration: none; 
    background-color: #F7C6CE;  
}
/* reportes */
.borde_reporte {
    border: 2px solid #000;
    background-color: #FFE4CF;
}
.radio_contenedor {
    background-color: #FDFFCF; /* Color de fondo del contenedor */
    padding: 10px; /* Espacio interno del contenedor */
    border: 1px solid #ccc; /* Borde de las opciones de radio */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.radio_caja {
   
    padding: 10px; /* Espacio interno de las opciones de radio */
    /* text-align: center; Centra el contenido horizontalmente */
    margin: 5px 0; /* Espacio entre las opciones de radio */
}






